@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* @font-face {
    font-family: 'notoSans';
    src: url('./Font/NotoSansKR-Regular.otf') format('otf');
    font-weight: 300;
  } */
