
body {
  display: flex;
  flex-direction: column;
}

.pages {
  width: 100vw;
  height: 100vh;
  display: flex;
}


#between12{
  width: 100vw;
  height: 20vh;
  background: linear-gradient(to bottom,rgb(231, 231, 231),rgb(213, 242, 255) );
}

#page1 {
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}
#page2 {
  background-color: rgb(213, 242, 255);
  display: flex;
  justify-content: center;
  height: auto;

}

#page3 {
  height: 70vh;
  background-color: rgb(32, 32, 32);
  position: relative;
  justify-content: center;
  
}
#page4 {
  background-color: white;
  height: 60vh;
  justify-content: right;
}

.container-sidebar{
  height: 30vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.container-sidebar.right{
  align-items: end;
}

.container-namediv{
  height: 70vh;
  width: 100vw;
  align-content: center;
}
.namediv_content{
  margin: 0 auto;
  margin-top: 30vh;
  
  height: 30%;
  font-size: 160%;
}
.divtag_frontend_align{
  /* position: relative; */
  display: flex;
  justify-content: right;
  width: 50%;
  height: 1.6em;
}
.divtag_developer_align{
  margin-left: 50vw;
  width: 50%;
  height: 1.6em;
}

.textbox_name_align{
  position: relative;
  width: 100%;
  height: 1.8em;
  word-wrap: normal;
}
.divtag_frontend{
  margin-right: 5vw;
  opacity: 0;
  animation: floatappear 2s ease-out 0.5s forwards;
}
.textbox_name{
  width: fit-content;
  margin: 0 auto;
}
.divtag_developer{
  margin-left: 3vw;
  opacity: 0;
  animation: floatappear 2s ease-out 1.5s forwards;
}

.container-text.univ, .container-text.team{
  font-size: 110%;
  height: 7rem;
  width: 10rem;
  position: relative;
  margin:5vw;
}
.emptytag.open{
  position: absolute;
  top:0;
  left:0;

}
.emptytag.close{
  position: absolute;
  top: 5rem;
  left:7.5rem;

}
.container-text.univ p{
  position: absolute;
  width: 10rem;
  top: 2.4rem;
  left:0.5rem;
  opacity: 0; 
  animation: floatappear 2s ease-out 7s forwards; 

}
.container-text.team p{
  position: absolute;
  width: 10rem;
  top: 2.4rem;
  left:0.5rem;
  opacity: 0; 
  animation: floatappear 2s ease-out 7s forwards;
}


/*커서 깜빡이는 효과*/
.textbox_name::after{
  content: "";
  margin-left: .4rem;
  border: 1.5px solid black;
  opacity: 0;
  animation: cursor .9s infinite 3s steps(2);
}


/*상단바 전체*/

.topbar {
  /* width: 100vw;
  height: 4.5rem;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 2px solid black;
  background-color: white;
  z-index: 100; */
  display: none;
}


/*상단바 메뉴*/
/*
.topbar nav ul {
  width: 100vw;
  margin-top: 1.6rem;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}
.topbar nav ul li{
  width: 25vw;
  text-align: center;
}
#progress-circle {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: black;
  clip-path: inset(0 0 50% 0);
  top: 3.3rem;
}

.topbar nav a {
  text-decoration: none;
  color: black;
  display: block;
}
*/
/*page 2*/
.works-container {
  margin-top: 5vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  z-index: 5;
  flex-wrap: nowrap;
}
.block.works {
  width: inherit;
  position: relative;
  margin-bottom: 7vh;
  overflow: hidden;
}


.img.works {
  width: inherit;
  height: inherit;
  object-fit: fill;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}

.works.description-container {
  position: absolute;
  width: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: 3;
}

.works.description.title {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 40px;
  margin: 0;
}
.works.description.sub {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  margin-top: 10px;
}

/*page 3*/
.title-stacks{
  color: rgb(78, 78, 78);
  font-size: 250%;
  font-family: 'Poppins';
  font-weight: bolder;
}
.stacks-container {
  position: relative;
  width: 100vw;
  height: 100vw;
  background-color: rgb(32,32,32);
}

.imgcontainer-reserve{
  position: absolute;
  /* top: 5%; */
  left: 45vw;
  display: flex;
  justify-content: center;
  overflow: none;
  width: 10vw;
  height: 43vw;
  transform-origin: center bottom;
}
.imgcontainer-reserve.c{
  animation: spin reverse linear 50s infinite; 
}
.imgcontainer-reserve.html{
  animation: spin_html reverse linear 50s infinite; 
}
.imgcontainer-reserve.css{
  animation: spin_css reverse linear 50s infinite; 
}
.imgcontainer-reserve.java{
  animation: spin_java reverse linear 50s infinite; 
}
.imgcontainer-reserve.react{
  animation: spin_react reverse linear 50s infinite; 
}
.imgcontainer-reserve.ps{
  animation: spin_ps reverse linear 50s infinite; 
}
.imgcontainer-reserve_push{
  transform-origin: center bottom;
}

.imgcontainer_zoom{
  width: 10vw;
  height: 10vw;
}
.imgcontainer.stacks{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18vw;
  height: 18vw;
  border: 0.3rem solid white;
  background-color: rgb(255, 255, 255);
  border-radius: 5vw;
  overflow: hidden;
  animation: spin linear 20s infinite;
}

.imgcontainer.stacks.react{
  background-color: black;
}
.imgcontainer.stacks.ps{
  background-color: black;
}

.img.stacks {
  width: 17vw;
  height: 17vw;
  object-fit: cover;
  
}
.img.stacks.c {
  object-fit: contain;
  animation: spin reverse linear 33.3s infinite;
}
.img.stacks.html {
  animation: spin_ps reverse linear 33.3s infinite;
}
.img.stacks.css {
  animation: spin_react reverse linear 33.3s infinite;
}
.img.stacks.java {
  animation: spin_java reverse linear 33.3s infinite;
}
.img.stacks.react {
  animation: spin_css reverse linear 33.3s infinite;
}
.img.stacks.ps {
  animation: spin_html reverse linear 33.3s infinite;
}

/*page 4*/
.container_phone{
  position: relative;
  width: 3rem;
  height: 20rem;
  margin-right: 40rem;
  transform-origin: center top;
}
.phone_string{
  position: absolute;
  top:0;
  left:1rem;
  border-right: 3px solid black;
  height: 15.1rem;
}


.imgcontainer.phone{
  position: absolute;
  top:15rem;
  left:0;
  width: 3rem;
  height: 3rem;
  transform: rotate(120deg);
} 
.imgcontainer.contact {
  width: 10vw;
  height: 10vw;
  border-radius: 1rem;
  object-fit: contain;
  overflow: hidden;
}
.img.contact {
  width: 9vw;
  height: 9vw;
}

.img.contact.insta {
  transform: scale(1.2);
}
.img.contact.email {
  transform: scale(1.2);
}
.contacts-container {
  margin-top: 20vw;
  margin-right: 5vw;

}
.block.contact {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 3rem;
  margin-top: 20px;
  
}

.content.contact {
  width: 40vw;
  text-align: right;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
}

.link{
  text-decoration:none;
  color: black;
  
}
.content.contact.insta, .content.contact.git{
  transform-origin: 80% 50%;
  animation: wiggle 1s infinite;
  width: 22vw;
}

